/* PHASE 1: Header */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.header {
  background-color: red;
  font-weight: bolder;
  color: whitesmoke;
  margin: -9px;
  padding-left: 60px;
  padding-right: 60px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  color:ivory;
  text-decoration: none;
}

.header-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
  border-left: white;
  border-left-style: solid;
  border-right: white;
  border-right-style: solid;
  border-width: 0.5px;
}

.header-list li:first-child {
  border-right: none;
}

.header-list li:last-child {
  border-left: none;
}

.header-list li:hover {
  background-color: black;
  color: white;
  align-content: center;
}

.header-list a {
  display: inline-block;
  font-weight: inherit;
  color:inherit;
  text-decoration: inherit;
  margin: 5px;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: black;
  width: 30px;
  height: 30px;
  
}
