/* PHASE 1: Online */

.profile-picture {
  overflow: hidden;
  z-index: 20;
}

.online {
  display: block;
  position: absolute;
  top: -5px;
  left: -20px;
  font-weight: 700;
  color: #fff;
  background: #0c0;
  padding: 5px 40px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-40deg) translateX(-20%);
  box-shadow: 0 1px 0 0 #070;
}