/* PHASE 2: Thumbs */

.friends-grid {}

#flexbox {
  display: flex;
}

#flexbox li {
  padding: 5px;
}

#flexbox:nth-child(3) {
  margin-right: 10px;
}

#flexbox img {
  border-radius: 15px;
  border: 1px solid gray;
}