<h1>Log In</h1>
<form action= "<%= session_url %>" method="POST" >
<%= auth_token%>
<label for="email">Email:</label>
<input type="text" name="user[email]" id="email" value="">
<label for="password">Password:</label>
<input type="password" name="user[password]" id="password" value="">
<input type="submit" value="Log in">
</form>