// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
  font-size: 20px;
  margin: 200px;
  border: 1px solid black;  
}

thead{
  background-color: rgb(212, 16, 212);
  color: white; 
  font-family: Comic sans ms; 
}

