<div class="masthead">

<ul class="language-nav">
  <li><a href="/css">CSS </a></li>
  <li><a href="/html">HTML </a></li>
  <li><a href="/javascript">Javascript </a></li>
  <li><a href="/ruby">Ruby</a></li>
</ul>
<br />
<ul class="masthead-links">
  <li class="date">Tuesday, October 18, 2016</li>
  <li class="lower-link"><a href="#">Today’s Paper</a></li>
  <li class="lower-link"><a href="#">Video</a></li>
  <li class="nav-text"><button>77°F</button></li>
  <li class="nav-text">AAO <span style="color: green">+100%</span></li>
</ul>

</div>

