<h1>Sign UP</h1>
<form action="<%= users_url %>" method="POST">
<input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token %>">
<label for="email">Email:</label>
<input type="text" id="email" name="user[email]">
<br />
<label for="password">Password:</label>
<input type="password" id="password" name="user[password]">
<input type="submit" value="DO IT">

</form>

